::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c4b9ac;
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8998b;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #57534e;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #78716c;
}
